<section class="home-container">
  <div>
    <div>
        <h1 class="budget-title">BUDGET TRA <%= image_tag "logo.png", height: 20 %> KER</h1>
        <p>Budget Tracker provides track of daily transaction that helps make wise financial desicions</p>
    </div>
    <div>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
  </div>
</section>