<div id="<%= dom_id category %>">
  <p>
    <img src="<%= category.icon%>" class='category-icon'>
  </p>
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
    <small><%= category.created_at.strftime("%d %b %Y") %></small>


</div>
